*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --btn-background-color:#307FFF;
    --btn-color:white;
    --jumbo-background:#B4D0E7;
    --nav-color:white;
}

.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 6;
    background-color: var(--nav-color);
}



.header nav .left-nav,
.header nav .right-nav{
    display: flex;
    align-items: center;
}

.header nav .left-nav >*,
.header nav .right-nav >*{
    padding: 0 1rem;
    
}

.header nav .nav-text >*{
    text-decoration: none;
    color: black;
}

.btn{
    border: 0;
    background-color:var(--btn-background-color) ;
    padding: .5rem 1rem;
    color:var(--btn-color);
}

.container-big{
    max-width: 1200px;
    margin: auto;
}

.jumbo-box{
    margin-top: 5rem;
    background-color: var(--jumbo-background);
    padding: 1rem 0rem;

}

.jumbo-bottom-box{
    display: flex;

}
.jumbo-title{
    text-align: center;
    padding: 1rem 0;
    font-size: 45px;
}
.jumbo-img img{
    width: 100%;
    display: block;
    position: relative;
    bottom: -100px;
}
.jumbo-img{
    flex-basis: 385%;
    
}

.jumbo-text{
    text-align: left;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}
.jumbo-text >*{
    padding: 1rem 0;
}

.div-spacer{
    flex-grow: 1;
}

.arrow-down-jumbo{
    font-size: 40px;
}

.container-small{
    margin: auto;
    max-width: 920px;
}

.main .section{
    padding: 10rem 0;
}

section{
    padding:2rem 0;
}

.padding-text-main{
    padding: 1.5rem 0;
}

.main h2{
    font-size: 45px;
}

.box-abbonamenti{
    display: flex;
    flex-basis: 33%;
    justify-content: space-between;

    
}

.type-abbonamenti{
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}



.card-abbonamenti{
    padding: 1rem 0;
    border: 1px solid black;
    flex-basis: 30%;
}
.box-card-bottom{
    padding: 0rem 1rem;
}

.box-card-bottom >*{
    padding: 1rem 0rem;
}

.horizontal-line{
    width: 10%;
    height: 1px;
    background-color: black;
    padding: 0;
    margin: 1rem 0;
}

.title-abbonamenti >*{
    padding: .5rem 0;

}
.title-abbonamenti h4,
.text-horizontal-card h4,
.txt-img h4{
    font-size: 30px;
}

.font-bold{
    font-weight: bold;
}

.txt-gray{
    color: gray;
}

.offerta-abbonamento-box >*{
    padding-bottom: .5rem ;

}

.btn-abbonamento-box >*{
    padding-bottom: .5rem;
}

.descrizione-abbonamento-box >*{
    padding-bottom: 1rem;
}

.descrizione-abbonamento-box .fa-solid{
    color: #307FFF;
}

.box-icon{
    display: flex;
    
}

.box-abbonamenti .fa-solid,
.horizontal-card .fa-solid{
    padding-right: .5rem;
}

.horizontal-card{
    margin-top: 4rem;
    border: 1px solid black;
    padding-top: 1rem;
}

.text-horizontal-card{
    flex-basis: 60%;
    padding: 1rem;
}

.btn-horizontal-card{
    flex-basis: 40%;
    text-align: right;
    padding: 1rem;
}

.box-txt-btn-horizontal-card{
    display: flex;
}

.text-horizontal-card >*{
    padding-bottom: 1rem;
}

.text-horizontal-card .st{
    padding-top: 2rem;
}

section{
    padding: 1rem 0;
}

.box{
    display: flex;
}

.box-img img{
    display: block;
    width: 100%;
}
.box-img{
    flex-basis: 60%;
}
.txt-img{
    flex-basis:40%;
    padding: 2rem;
}
.txt-img >*{
    padding-top: 3rem;
}

.padding-top{
    padding-top: 1rem;
}

.btn-white{
    background-color: white;
    color: black;
    border: 1px solid gray;
}